.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.6);

}

.Navbar {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navToggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  position: relative;
  cursor: pointer;
  padding: 10px;
}

.Navbar span {
  color: rgb(221, 0, 221);
}

.rightSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
}

.Navbar ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.leftSide {
  font-size: 20px;
}

.rightSide li {
  padding: 10px;
  border-radius: 1rem;
  transition: 0.4s;
}
.rightSide li:hover {
  cursor: pointer;
  background-color: rgba(221, 0, 221, 0.3);
}

@media (max-width: 615px) {
  .Navbar ul {
    display: none;
  }

  .Navbar ul.show {
    display: flex;
    background-color: rgba(34, 5, 54, 0.7);
    border-radius: 2rem;
  }

  .navToggle {
    display: flex;
  }

  .Navbar {
    display: flex;
    flex-direction: column;
  }

  .rightSide {
    width: 100%;
  }

  .header {
    position: relative;
  }
}

@media (max-width: 758px) {
  .Navbar ul {
    font-size: 20px;
  }
  .header {
    background-color: transparent;
  }
}
