.hero {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  align-items: center;
  height: 100vh;
  margin-top: -60px;
}

.info h3 {
  font-size: 40px;
  line-height: 60px;
}

.info h3 span {
  color: rgb(221, 0, 221)
}

.hero img {
  width: 400px;
  border-radius: 500px;
}

@media (max-width: 758px) {
  .hero {
    display: flex;
    flex-direction: column;
    gap: 100px;
    text-align: center;
  }
}


 