.project__container {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.project__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(74, 15, 82, 0.4);
  padding: 20px;
  width: 32rem;
  overflow-wrap: break-word;
  border-radius: 1rem;
}

.image img {
  height: 100%;
  width: 100%;
}


.Details {
  padding: 15px;
  line-height: 25px;
}
.Details span {
  color: rgb(221, 0, 221);
}

.Details p {
  font-size: 18px;
  margin-top: 15px;
}

.langs ul {
  list-style-type: none;
  display: flex;
  gap: 3rem;
}

.langs ul li {
  background-color: black;
  padding: 10px;
  border-radius: 2rem;
  margin-top: 10px;
  font-size: 18px;
}

.btn_demosrc {
  display: flex;
  justify-content: space-evenly;
}

.btn_demosrc button {
  padding: 15px;
  border-radius: 2rem;
  width: 10rem;
  background-color: purple;
  border: none;
  color: white;
  font-size: 20px;
}
.btn_demosrc button:hover {
  background-color: darkorchid;
  cursor: pointer;
}

@media screen and (max-width: 758px) {
  .project__wrapper {
    width: 25rem;
  }

  .Details p {
    font-size: 15px;
  }

  .langs ul li {
    font-size: 13px;
  }

  .langs ul {
    display: none;
    grid-template-columns: repeat(2, 0.5fr);
  }

  .langs ul li {
    text-align: center;
  }
  .btn_demosrc button {
    font-size: 15px;
    padding: 10px;
    width: 7rem;
  }
}
@media screen and (max-width: 390px) {
  .project__wrapper {
    width: 23rem;

  }
}
