.contact_container {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
}

.contact_container h1 {
  text-orientation: upright;
  display: block;
}

.title {
  writing-mode:sideways-lr;
  color: rgb(223, 67, 223);
  font-size: 15px;
} 

.hr_liner {
  writing-mode: sideways-lr;
  height: 6vh;
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* width: 25%; */
}

.contact_wrapper {
  display: flex;
  gap: 10px;
  width: 30%;
}

.Information_details h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 25px;
}

.Information_details p{
  font-size: 18px;
  margin-bottom: 25px;
  color: rgb(223, 67, 223);
}

.icons_desc {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  font-weight: bold;
}

.description {
  color: rgb(223, 67, 223); 
  margin: 10px 43px;
  
}