
.rights {
  margin-top: 15vh;
  background-color: rgba(68, 0, 57, 0.767);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 7vh;
}

.rights h2 {
  font-size: 30px;
}

.rights p {
  font-size: 17px;
}

.rights a {
  color: rgb(65, 65, 235);
}